%h1.page_title All Posts

%hr
%br

- @posts.each do |post|
  .block_post
    .post_title
      %h2
        = truncate(post.title, :length => 120)
    .post_author
      %i
        By 
        = truncate(post.name, :length => 120)
        = post.created_at.to_formatted_s(:short)
    .post_content
      %h4
        = truncate(post.content, :length => 120)
    .post_video
      = post.video.html_safe
    .post_tags
      - if join_tags(post) == ""
        = "-"
      - else
        = join_tags(post)
    %br 
    = link_to 'Show', post
    - if can? :update, post
      = link_to 'Edit', edit_post_path(post)
    - if can? :destoy, post
      = link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete
%br
%hr
.new_post_link
  - if can? :create, new_post_path
    = link_to 'New Post', new_post_path

.paginate
  = will_paginate @posts