%p.notice= notice
%p
  %b Name:
  = @post.name
%p
  %b Title:
  = @post.title
%p
  %b Content:
  = @post.content
%p
  %b Tags:
  = @post.tags.map {|t| t.name}.join(", ")
%hr
%h2 Comments
= render @post.comments
%hr
%h2 Add a comment:
= render "comments/form"
- if can? :update, @post
  = link_to 'Edit Post', edit_post_path(@post)
  |
= link_to 'Back to Posts', posts_path