%p.notice= notice
%p
  %h2
    = @post.title
%p
  %i
    By 
    = @post.name
    = @post.created_at.to_formatted_s(:short)
%h4
  = @post.content
%p
  = @post.video.html_safe
%p
  %b Tags:
  = @post.tags.map {|t| t.name}.join(", ")
%hr
%h2 Comments
= render @post.comments
%hr
%h2 Add a comment:
= render "comments/form"
- if can? :update, @post
  = link_to 'Edit Post', edit_post_path(@post)
  |
= link_to 'Back to Posts', posts_path